.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container h1 {
    flex: 1;
}

.login-signup-container {
    flex: 1;
    display: flex;
    justify-content: center;
}


.app-nav {
    flex: 1;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
