

.bug-filter{
    background-color: var(--clr1bg-light);
    padding: 1.5em;
    margin-block: 1em;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3 {
        align-self: center;
    }
    form {
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-weight: 700;
        display: flex;
        justify-content: center;
        gap: 30px;
        div {
            width: 33%;
            display: flex;
            flex-direction: column;
            input {
                font-family: 'Edu VIC WA NT Beginner', cursive;
                width: 80%;
                max-width: 200px;
                min-width: 100px;
                padding: 0.5em;
                border: none;
                border-radius: 0.5em;
                margin-top: 5px;
            }
            input:focus {
                outline: none;
                box-shadow: none;
            }

        }
    }
}