


.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--clr2bg-light);
        padding: 50px 100px;
        margin-top: 40px;
        border-radius: 1rem;
        > h3 {
            font-size: 1.8rem;
        }
        >h4 {
            font-size: 1.4rem;

        }
    }
    >a{
        margin-top: 20px;
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-size: 1.2rem;
    }
    >a:hover{
        text-decoration: underline;
    }
}