

.user-list{
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.user-list li{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr1bg);
}

.user-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    >a{
        font-family: 'Edu VIC WA NT Beginner', cursive;
    }
    >a:hover {
        text-decoration: underline;
    }
}

.user-preview h4 {
    text-transform: capitalize;
    color: black;
}

.user-preview img {
    max-width: 100px;
}